.noBorder,.noBorder td,.noBorder th,.noBorder tr {border:0}

.topic-path {
    max-width: 90vw;
    display: block;
    overflow: auto;
}

.doc-edit, .doc-edit textarea { width: 100%; }

/* Two columns story layout
.tc-story-river {   display: flex;   flex-wrap: wrap; }
.tc-tiddler-frame { max-width: 49%; margin-right: 1%; }
.tc-tiddler-body { max-height: 12em; overflow: auto; }
*/

/* Two columns below-story layout */
.below-story {   display: flex;   flex-wrap: wrap; }
.below-story .tc-tiddler-frame { height: 18em; max-width: 49%; margin-right: 1%; }
.below-story .tc-tiddler-title { height: 8em; }
.below-story .tc-tiddler-body { height: 6em; overflow: auto; }